* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(backimg.jpg);
  background-size: cover;
  background-position: center;

  font-family: sans-serif;
}
.menu-bar {
  background: rgb(100, 60, 0);
  text-align: center;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: rgb(239, 242, 244);
}
.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}
